/* Styles for the cart container */
.cart-container {
    padding: 20px;
}

.cart-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.cart-empty {
    text-align: center;
}

.cart-empty p {
    font-size: 18px;
    margin-bottom: 10px;
}

.start-shopping {
    margin-top: 20px;
}

.start-shopping .arrow-icon {
    margin-right: 5px;
}

.start-shopping button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Styles for the cart items */
.titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-title {
    flex: 2;
}

.price {
    flex: 1;
    text-align: center;
}

.quantity {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: flex-start;
}

.total {
    flex: 1;
    text-align: center;
}

.cart-items {
    border-top: 1px solid #ccc;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.cart-product {
    display: flex;
    align-items: center;
    flex: 2;
}

.cart-product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-product h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.cart-product p {
    font-size: 17px;
    color: var(--light-grey);
    margin-bottom: 5px;
}

.cart-product button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-product button:hover{
    background-color: #007bff;
}
.cart-product-price,
.cart-product-quantity,
.cart-product-total-price {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
}

.cart-product-quantity {
    display: flex;
    align-items: center;
}

.cart-product-quantity button {
    padding: 5px 10px;
    background-color: var(--light-purple);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.count {
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
}

/* Styles for the cart item summary */
.cart-item-summary {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.clear-cart {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.clear-cart:hover {
    background-color: #007bff;
}

.cart-checkout {
    display: flex;
    /* flex-direction: row; */

    text-align: right;
}

.subtotal {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
}

.subtotal span {
    font-weight: bold;
}

.amount {
    font-size: 20px;
    font-weight: bold;
    /* display: block; */
}

.subtotal p {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

.subtotal button {
    padding: 10px 20px;
    background-color:var(--light-purple);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.continue-shopping {
    margin-top: 15px;
    text-align: center;
}

.continue-shopping .arrow-icon {
    margin-right: 5px;
}

.continue-shopping button {
    padding: 10px 20px;
    background-color: var(--light-purple);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 665px) {
    /* Cart */
    .cart-container {
        padding: 2rem;
    }

    .cart-container .titles {
        display: none;
    }

    .cart-item,
    .cart-container .titles {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .cart-item .cart-product-total-price {
        justify-self: left;
    }

    .cart-summary {
        flex-direction: column;
    }

    .cart-summary .clear-btn {
        margin-bottom: 2rem;
    }
}