@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

:root {
  font-family: 'poppins', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: var(--color-blue-dark); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root{
  --color-blue-dark: #090751;
  --texts-color: #666565;
  --h1-texts-color: #2D2B2B;
  --color-blue-light: #1F87F7;
  --color-white: #fff;
  --color-white-dark: #EFEFEF;
}


#root {
  max-width: 1440px;
  margin: 0 auto;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 100vh; */
}


